<!DOCTYPE html>
<html lang="en">

<head>
  <title>#Hashbrag</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


  <!-- Import Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <!-- Import Stylesheet -->
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>

  <!-- Header banner -->
<div class="d-flex flex-row justify-content-around main-banner align-items-center">
  <div class="mr-auto pl-4">
    <a href="/post"><img src="img/plus_white.png" class="banner-icon"></a>
  </div>

  <div>
    <a class="logotype" href="#">#Hashbrag</a>
  </div>

  <div class="ml-auto pr-4">
    <a href="/logout">Logout</a>
  </div>
</div>

{{{body}}




  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/feed.js"></script>

</body>

</html>
