
/* Signup form */
form.signup,
form.login {
  margin-top: 50px;
}

/* Typography */
p{
  font-family: 'Roboto', sans-serif;
}

.author-name{
  font-weight: 400;
  color: #009AC2;

}

.activity-label{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.time-label{
  font-weight: 300;
  color: #7a8594;
}

/* Background */
body {
  background-color: #F2F1F1;
}

/* Main Banner */
.main-banner{
  color: white;
  /* background:linear-gradient(60deg, #009AC2 0.39%, #29CA85 100%); */
  border-radius: 0px;
  height: 80px;
  
}

.main-banner canvas{
  height: 80px;
}

#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  z-index: -1;
  box-shadow: 0px 10px 18px rgba(0, 12, 24, 0.1);;
}

.main-banner a,
.main-banner a:hover {
  color: white !important;
  text-decoration: none;
}

.banner-icon{
  width: 28px;
  height: 28px;
}

.navbar-default .navbar-brand{
  color: white;
}


.logotype{
  color: white;
  font-size: 32px;
  font-family: 'Galada', cursive;
  text-shadow: 0px 2px 1px rgba(0,0,0,0.2);
}

/* Activity Cards */
.activity-card{
  border-radius: 16px;
  padding: 2%;
  width: 80%;
  box-shadow: 0px 10px 18px rgba(0, 12, 24, 0.1);
  border: none;
}

/* Emoji */

.emoji{
  font-size: 72px;
}

/* Like Buttons */
.like-btn img{
  width: 24px;
  height: 22px;
}

/* New Post */
.form-control{
  border-radius: 24px;
  max-width: 320px;
}


/* Buttons */
.btn-solid{
  color: white;
  background: linear-gradient(135deg, #009AC2 0.39%, #29CA85 100%);
  border-radius: 100px;
  width: 75%;
  max-width: 320px;
  border: none;
}

.btn-solid:hover {
  color: #fff !important;
  text-decoration: none;
}

.btn-hollow{
  color: rgba(0, 198, 187, 1);

  background: #ffffff00;
  border-radius: 100px;
  border:rgba(0, 198, 187, 1) 2px solid;
  width: 75%;
  max-width: 320px;
}

.btn-hollow:hover {
  color: rgb(0, 198, 188) !important;
  text-decoration: none;
}